
.contacts_container {
    display: grid;
    gap: 1rem;
    justify-items: center;
}
.maps-container {
    min-width: 280px;
    min-height: auto;
    padding-top: 10px;
    width: 100%;
}
.maps {
    padding-top: 10px;
    bottom: 0;
    height: 400px;
    width: 1200px;
    min-width: 280px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    
}
.form-container {
    min-width: 280px;
    width: 100%;
}

.form_wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-items: center;
    gap: 1rem;
}

.contacts_text_container {
    position: relative;
    text-align: left;
    margin: 0 auto;
    min-width: 280px;
    width: 100%;
    padding-left: 10px;
    padding-top: 30px;
}
.contacts_text {
    /* padding-left: 20px; */
    /* margin: 0; */

    font-family: 'Jura';
    font-weight: 400;
    font-size: 20px;
    color: rgb(93, 93, 93);
}
.hr_contacts_text {
    width: 90%;
    align: left;
}
.form_c {
    width: 100%;
    /* background-color: aqua; */
}

.form-message {
    /* padding: 10px; */
    border: 0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    /* font-family: inherit; */
    /* font-size: inherit;  */
    /* line-height: inherit; 1 */
    /* margin: 0; 2 */
    resize: none;
    width: 100%;
    min-width: 280px;
    font-family: 'Jura';
    font-weight: 400;
    font-size: 20px;
}
.form-input {
    height: 40px;
}
.btn-form {
    padding: 10px;
    /* margin: 10px; */
    width: 100%;
    background-color: rgb(0, 102, 156);
    font-family: 'Jura';
    font-weight: 400;
    font-size: 30px;
    color: rgb(246, 246, 246);
}

.submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    /* margin-top: 38px; */
    outline: 0;
    text-align: center;
    width: 100%;
  }
  
  .submit:active {
    background-color: #06b;
  }
  
  