{% extends 'main/base.html' %}

{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

<hr>
<div class="container1">
    <div class="contacts_container">
        <div class="maps-container">
            <div style="position:relative;overflow:hidden;"><a href="https://yandex.by/maps/org/moby_dick/89459532639/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Moby Dick</a><a href="https://yandex.by/maps/157/minsk/category/coffee_shop/35193114937/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Кофейня в Минске</a><a href="https://yandex.by/maps/157/minsk/category/restaurant/184106394/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:28px;">Ресторан в Минске</a><iframe class="maps" src="https://yandex.by/map-widget/v1/-/CCURRPsy-A" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
        </div>
        <div class="form-container">
           <form method="post">
                {% csrf_token %}
                <br>
                <table>
                {{ form }}
                </table>
                <br>
                <button type="submit" class="btn-form">Отправить</button> 
            </form> 
        </div>
        
    </div>
</div>
{% endblock %}